<style>
.content-area {
	padding-top: 60px;
}

.navbar, .navbar.navbar-default {
	background: inherit !important;
}

.slide-toggle {
	overflow: hidden;
	background: #181818;
	color: #FFF;
	position: relative;
	width: 100%;
	height: 250px;
	padding: 0px;
	transition: top 1000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	overflow: hidden;
	box-sizing: border-box;
}
</style>
<div id="page-wrapper" ng-class="{'open': toggle}">
<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
	<script type="text/ng-template" id="toasterData.html">
          <p>{{toaster.data}}</p>
        </script>
        <!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar">
		<!-- ng-if="!toggle || mobileView > getWidth()" -->
			<li class="sidebar-list"><a
				
				ng-click="toggleSidebar()">Dashboard<span
					class="menu-icon fa fa-exchange"></span>
			</a></li>
			<li class="sidebar-main">
				<h3>Welcome</h3>
				
				<h4>{{userName}}</h4>
				<button class="btn btn-white btn-sm  btn-outline  " abm-component>Profile</button>
				<!-- <a ng-click="toggleSidebar()">
            Welcome
            
          </a> -->


			</li>
			<!-- <li class="sidebar-title"><span>NAVIGATION</span></li> -->
			<!-- <li class="sidebar-list">
          <a ui-sref="dashboard.home" >Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a  ui-sref="dashboard.tables" >Tables <span class="menu-icon fa fa-table"></span></a>
        </li> -->
        
			<li ng-show="showIncomeHeading" class="sidebar-title"><span>Income Profile</span></li>
			<li class="sidebar-list" ng-click="planchange(planName.name,$index);clearGraph()"
									ng-repeat="planName in planNames1"
									ng-class="{'active-menu' : $index == selected}"><a> 
										{{planName.name}}
								</a></li>
			<!-- <li class="sidebar-list"><a ui-sref="dashboard.home">My
					Profile 1 </a></li>
					<li class="sidebar-list"><a ui-sref="dashboard.tables">My
					Profile 2</a></li> -->
		</ul>
		<!-- <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div> -->
	</div>
	<!-- End Sidebar -->

	<div id="content-wrapper">
		<div class="page-content">

			<!-- Header Bar -->
			<div class="slide-toggle big-fat-border" ng-show="slideToggle">
				<h1>This is a slide toggle element</h1>
				<p>It should slide</p>
			</div>
			<div class="row header">
				<div class="col-xs-12">

					<div class="col-xs-12">
						<a href=""
							class="btn btn-raised btn-success btn-md"
							abm-component style="float: right"
							ng-click="slideToggle=! slideToggle">Investment Portfolio</a>
							<a href="" class="btn btn-raised btn-success btn-md"
							abm-component style="float: left" ng-click="showEdit()">Create Plan</a> 
							
							<button class="btn btn-raised btn-success btn-md" id="pdf" ng-click="downloadPDF();" abm-component style="float:right;margin:1%;" ng-hide="!finPlanDetails">Finplan Details</button>
							<button class="btn btn-raised btn-success btn-md" id="pdf" ng-click="downloadPDF();" abm-component style="float:right;margin:1%;" ng-hide="!incomeProfileDetails">Income Profile Details</button>
						
							
						<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
							<abm-form-group error-messages="errorMap" style="margin:10px">
							<select abm-form-control id="sel1" ng-model="incomeProfilesChart"
								ng-change="changeIncomeProfile(incomeProfilesChart);clearGraph();">
								<option ng-selected="profile == incomeProfilesChart"
									ng-repeat="profile in incomeProfiles" ng-value="profile">{{profile}}</option>

							</select> 
							</abm-form-group>
						</div>
						
					</div>
					<div class="col-xs-4 col-xs-push-4" >
						<div ng-hide="!onClickCreatePlan" id="createFinPlan">
							<form name="createFinPlanForm" class="form-horizontal">
								<abm-form-group error-messages="errorMap">
									<label>Name your financial plan here</label>
			       					<input type="text" name="finPlan" maxlength="15" onkeypress="return onlyAlphaNumbers(event,this)" class="form-control" ng-model="formdata.planname" abm-form-control required>
								</abm-form-group>
								<div ng-hide="!hideCheckBox">
									<abm-form-group error-messages="errorMap">
										<div class="checkbox" abm-checkbox label="Copy an existing Plan">
	      								<input type="checkbox" ng-model="formdata.checkValue" ng-change="showPlanList()">
	    								</div>
	    							</abm-form-group>
								</div>
								<div ng-hide="!onCheckedCopyPlans">
									<div ng-hide="!hideList">
										<abm-form-group error-messages="errorMap">
							        		<select class="form-control" abm-form-control id="sel1" ng-model="plan">
							          	 		<option ng-selected="planName.name==plan" ng-repeat="planName in planNames1" ng-value="{{planName.name}}">{{planName.name}}</option>
							         		</select>
							         	</abm-form-group>
									</div>
	
									<div ng-hide="!CopyPlanbutton" class="text-center">
										<button class="btn btn-raised btn-success" abm-component ng-click="createFinPlanForm.$valid&&copyPlan()">Copy</button>
										<button class="btn btn-raised btn-warning" abm-component ng-click="cancle()">Cancel</button>
									</div>
								</div>
								<div ng-hide="!CreatePlanbutton" class="text-center">
									<button class="btn btn-raised btn-success" abm-component ng-click="createFinPlanForm.$valid&&modalform()">Create</button>
									<button class="btn btn-raised btn-warning" abm-component ng-click="cancle()">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>			
			</div>
			<!-- End Header Bar -->

			<!-- Main Content -->
			<div ui-view></div>

		</div>
		<!-- End Page Content -->
	</div>
	<!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->
