<div class="col-xs-8 col-xs-push-2">
    <form name="incomeExpenseForm" class="form-horizontal">
    	<h3 class="text-center" id="investment" >Income and Expense Information</h3>
      <abm-form-group error-messages="errorMap">
        <label  >Monthly Income</label>
        <input type="text" name="income" class="form-control" abm-form-control onkeypress="return onlyNumbers(event,this)"  ng-change="doneTyping()" maxlength="15" placeholder=""  ng-model="formData2.tax" required />
      </abm-form-group>
      <abm-form-group error-messages="errorMap" ng-hide="!marriedt">
        <label  >Spouse Monthly Income</label>
        <input type="text"  name="spouseIncome"   abm-form-control  onkeypress="return onlyNumbers(event,this)" maxlength="15" placeholder="" class="form-control" ng-change="doneTyping()" ng-model="formData2.stax" ng-required="welcome.basic.married=='Yes'"/>
      </abm-form-group>
      <abm-form-group error-messages="errorMap" ng-show="kidcostFactor">
        <label  > Cost for the kids</label>
        <input type="text"  name="kidsCostFactor"   abm-form-control onkeypress="return onlyNumbers(event,this)" maxlength="15" ng-model="formData2.kidcostFactor" ng-required="kidcostFactor"/>
      </abm-form-group>
      <abm-form-group error-messages="errorMap">
        <label  >Monthly non-housing expenses</label>
        <input type="text" name="monthlyNonHousingExp" class="form-control"  abm-form-control  onkeypress="return onlyNumbers(event,this)" maxlength="15" placeholder="" maxlength="15" ng-model="formData2.expenses" required >
      </abm-form-group>
      <abm-form-group error-messages="errorMap">
        <label  >Are you in Rent House or Own House</label>
        <select class="form-control" name="houseType" abm-form-control  ng-model="formData2.houseinfo" ng-change="check()" required >
          	 <option ng-selected="house.type == formData2.houseinfo " ng-repeat="house in houses" ng-value="house.type">{{house.type}}</option>
        </select>
      </abm-form-group>
      <abm-form-group error-messages="errorMap">
        <label  >Monthly house expense</label>
        <input type="text" name="monthlyNonHousingExp" class="form-control" abm-form-control onkeypress="return onlyNumbers(event,this)" maxlength="12" placeholder="" maxlength="15" ng-model="formData2.houserent" required >
      </abm-form-group>
      <input type="hidden" name="" ng-model="formData2.form"	value="form3" ng-init="formData2.form='IncomeAndExpenses'">
      <button class="btn btn-raised btn-primary pull-right" type="submit" abm-component  ng-disabled="incomeExpenseForm.$invalid" ng-click="checkform3()"  >Next</button>
    </form>
</div>